RewriteEngine on

 # ????????????????????????????????
 RewriteCond %{REQUEST_FILENAME} !-d

 # ?????????????????????????????????????RewriteRule
 RewriteCond %{REQUEST_FILENAME} !-f

 RewriteRule . index.php
