body {
    position: relative;
}
.aa {
    padding-left: 5%;
    padding-right: 5%;
}

.aa1 {
    padding-left: 5%;
    padding-right: 5%;
}

footer {
    /*margin-top: 100px;*/
}

.pt {
    padding-bottom: 10%;
}

.a1 {
    height: 30px;
    font-size: 13px;
}

.input {
    width: 200px;
}

.content {
    height: 500px;
    width: 100%;
}

.header {
    height: 61px;
    width: 307px;
}

.ph {
    height: 300px;
    /*width: 300px;*/
    /*margin: 10px;*/
}

.ph1 {
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
}

.picture {
    height: 300px;
    width: 100%;
}

.picture2{
    margin: 10px;
    height: 350px;
    /*background-color: red;*/
}

/** 详情的图片 排行 */
.detailsPicture {
    margin: 20px 0px 20px 0px;
    height: 380px;
    width: 380px;
    border-radius: 5px;
    /*background-color: red;*/
}
.detailsPicture2 {
    margin: 0px 0px 20px 10px;
    height: 380px;
    width: 380px;
    /*background-color: red;*/
}
.indeximage {
    border-radius: 5px;
}

.kpimage{
    height: 269px;
}

.title {
    margin-top: 80px;
    margin-bottom: 80px;
}

.title1 {
    margin-top: 20px;
    /*margin-bottom: 40px;*/
}

.detailsTitle {
    margin-top: 10%;
    /*margin-right: 30px;*/
}

.detailsTitle2 {
    margin-top: 25px;
    /*margin-right: 30px;*/
}

.more {
    margin-top: 50px;
    margin-bottom: 50px;
}

.more1 {
    text-decoration: none;
    color: #444;
}

.more2 a{
    text-decoration: none;
    font-size: 13px;
}

.htitle a{
    text-decoration: none;
    color: black;
}

.htitle a:hover{
    text-decoration: none;
    color: #ff5809;
}


.hctitle a{
    text-decoration: none;
}

.hctitle a:hover{
    text-decoration: none;
    color: #ff5809;
}


.lefta {
    float: left;
}
.righta {
    float: right;
}

.kapian {
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;
}

/* knowledges */

.kapian2 {
    /*overflow: hidden;text-overflow: ellipsis;*/
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.kapian3 {
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;
}



/**rancking */
.fa-heart{
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
    transition: transform 0.5s;}
.like{color: red;}
.fa-heart:active{
    color: red;
    transform: scale(2,2);
    transition: transform 0.1s;}


/** 加减 */
.gw_num{border: 1px solid #dbdbdb;width: 110px;line-height: 26px;overflow: hidden;}
.gw_num em{display: block;height: 26px;width: 26px;float: left;color: #7A7979;border-right: 1px solid #dbdbdb;text-align: center;cursor: pointer;}
.gw_num .num{display: block;float: left;text-align: center;width: 56px;font-style: normal;font-size: 14px;line-height: 24px;border: 0;}
.gw_num em.add{float: right;border-right: 0;border-left: 1px solid #dbdbdb;}
.gw_num em button {width: 26px;}
.details{border: none}
.hidden {display: none}

.suojin {
    text-indent: 2em;
    margin: 1px;
}
div#w1-success-0 {
    opacity: 1;
}
div#w0-success-0 {
    opacity: 1;
}
div#w55-success-0 {
    opacity: 1;
}
div#w10-success-0 {
    opacity: 1;
}
div#w3-success-0 {
    opacity: 1;
}

div#w1-error-0 {
    opacity: 1;
}
div#w0-error-0 {
    opacity: 1;
}
div#w55-error-0 {
    opacity: 1;
}
div#w12-error-0 {
    opacity: 1;
}
div#w3-error-0 {
    opacity: 1;
}
div#w4-error-0 {
    opacity: 1;
}


.a_bk {
    padding: 0px;
    margin-bottom: 5px;
    border:7px solid white;
}

.a_bk:hover {
    border:7px solid  #ffa042;
    border-radius:5px;
    box-sizing: border-box;
    /*这样才能使鼠标放上去的时候显示全部的蓝色框,否则因为maring的缘故，边框的右半部分会被相邻的a的边框遮盖 */
    z-index: 10;
}

.x_bk {
    padding: 0px;
    margin-bottom: 5px;
    /*margin-bottom: 10px;*/
    border:7px solid #ecf5ff;
}

.x_bk:hover {
    border:7px solid  #ffa042;
    border-radius:5px;
    box-sizing: border-box;
    /*这样才能使鼠标放上去的时候显示全部的蓝色框,否则因为maring的缘故，边框的右半部分会被相邻的a的边框遮盖 */
    z-index: 10;
}

.x_bk2 {
    padding: 0px;
    margin-bottom: 5px;
    /*margin-bottom: 10px;*/
    border:7px solid #efefef;
}

.x_bk2:hover {
    border:7px solid  #ffa042;
    border-radius:5px;
    box-sizing: border-box;
    /*这样才能使鼠标放上去的时候显示全部的蓝色框,否则因为maring的缘故，边框的右半部分会被相邻的a的边框遮盖 */
    z-index: 10;
}
